
<div class="container">

  <h1>Stations</h1>

  <div class="research-priorities">
      <h2>Changer vos prioritées</h2>
  </div>

  <div class="container-cards-stations">

    <% @stations.each do |station| %>
      <%= link_to station_path(station) do %>

        <div class="card-station">

          <div class="card-station-img">
            <img src="<%= station.cardphoto %>" alt="Photo de la station">
          </div>

          <div class="card-station-name">
            <h3><%= station.name%></h3>
          </div>

          <div class="card-station-info">
              <p>Temps de trajet:</p>
              <p>Météo:</p>
              <p>Enneigement:</p>
              <p>Budget:</p>
          </div>

          <div class="card-station-slops">
            <p>Ouverture domaine skiable:</p>
            <p><%= station.total_slopes%> pistes ouvertes / <%= station.total_slopes%></p>
            <p><i class="far fa-flag green"></i> Pistes vertes: <%= station.green_slopes %></p>
            <p><i class="far fa-flag blue"></i> Pistes blues: <%= station.blue_slopes %></p>
            <p><i class="far fa-flag red"></i> Pistes rouges: <%= station.red_slopes %></p>
            <p><i class="far fa-flag black"></i> Pistes noires: <%= station.black_slopes %></p>
          </div>

          <div class="review-alanej">
            <img src="rating5.png" alt="rating alanej">
          </div>

        </div>

      <% end %>
    <% end %>

  </div>


</div>
