<%= render 'shared/navbar' %>

<div class="container">

  <h1>Stations</h1>

  <div class="research-priorities">
      <h2>Changer vos prioritées</h2>
  </div>

  <div class="container-cards-stations">

    <% @stations.each do |station| %>
      <%= link_to station_path(station) do %>

        <div class="card-station">

          <div class="card-station-img">
            <img src="<%= station.cardphoto %>" alt="Photo de la station">
          </div>

          <div class="card-station-info">
            <h3><%= station.name%></h3>
            <p><%= station.description%></p>
            <p><%= station.address %></p>
          </div>

        </div>

      <% end %>
    <% end %>

  </div>

</div>

<%= render 'shared/footer' %>
