<div class="index-banner">

  <%= link_to root_path do%>
    <%= image_tag("logo alanej horizontal blanc.png", class: "logo-high") %>
  <% end %>

  <h1 id="index-title"><strong> Les meilleures stations pour votre séjour </strong></h1>

  <%= render 'shared/indexform' %>

</div>

<div class="container">
  <div class="container-cards-stations">
  <% i = 0%>
    <% @stations_data.each do |station_data| %>
    <% i += 1%>
      <% station = station_data[:station]%>
      <div class="container-card-station">
        <%= link_to station_path(station, duration: station_data[:duration], city: params[:city], start_date: params[:query][:start_date], end_date: params[:query][:end_date]) do %>

            <div class="card-station">

              <div class="card-station-img">
                <img class="image-card-index" src="<%= station.cardphoto %>" alt="Photo de la station">
                <h3 class="station-name"><strong><%= station.name %></strong></h3>
              </div>

              <div class="card-station-trip-weather-budget">

                <p class="side-big-info"><i class="fas fa-car"></i>&nbsp;<%= time_conversion(station_data[:duration]) %></p>

                <p class="weather-picto">
                  <% if BIGRAIN.include? station.conditions.first.weather %>
                    <%= image_tag("bigrain.png", class: "picto-card") %>
                  <% elsif CLOUDS.include? station.conditions.first.weather %>
                    <%= image_tag("clouds.png", class: "picto-card") %>
                  <% elsif FOG.include? station.conditions.first.weather %>
                    <%= image_tag("fog.png", class: "picto-card") %>
                  <% elsif GRELE.include? station.conditions.first.weather %>
                    <%= image_tag("grele.png", class: "picto-card") %>
                  <% elsif LITTLERAIN.include? station.conditions.first.weather %>
                    <%= image_tag("littlerain.png", class: "picto-card") %>
                  <% elsif LITTLESNOW.include? station.conditions.first.weather %>
                    <%= image_tag("littlesnow.png", class: "picto-card") %>
                  <% elsif RAIN.include? station.conditions.first.weather %>
                    <%= image_tag("rain.png", class: "picto-card") %>
                  <% elsif SNOW.include? station.conditions.first.weather %>
                    <%= image_tag("snow.png", class: "picto-card") %>
                  <% elsif STORM.include? station.conditions.first.weather %>
                    <%= image_tag("storm.png", class: "picto-card") %>
                  <% elsif STORMRAIN.include? station.conditions.first.weather %>
                    <%= image_tag("stormrain.png", class: "picto-card") %>
                  <% elsif SUNCLOUD.include? station.conditions.first.weather %>
                    <%= image_tag("suncloud.png", class: "picto-card") %>
                  <% elsif SUNICO.include? station.conditions.first.weather %>
                    <%= image_tag("sunico.png", class: "picto-card") %>
                  <% elsif BIGCLOUDS.include? station.conditions.first.weather %>
                    <%= image_tag("bigclouds.png", class: "picto-card") %>
                  <% elsif RAINANDSNOW.include? station.conditions.first.weather %>
                    <%= image_tag("rainandsnow.png", class: "picto-card") %>
                  <% else %>
                    <%= image_tag("wind.png", class: "picto-card") %>
                  <% end %>
                </p>

                <% if station.budget == "1"%>
                  <p class="side-big-info"><i class="fas fa-euro-sign"></i></p>
                <% elsif station.budget == "2"%>
                  <p class="side-big-info"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% elsif station.budget == "3"%>
                  <p class="side-big-info"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% elsif station.budget == "4"%>
                  <p class="side-big-info"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% else %>
                  <p class="side-big-info"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% end %>
              </div>

              <div class="card-station-snow-alt">

                <div class="side-info">

                  <p class="left">max: <%= station.alt_max %> m</p>
                  <p class="left">min: <%= station.alt_min %> m</p>
                </div>

                <div class="montagne">
                  <%= image_tag("mountainiconefinal.png", height: '62', width: '80') %>

                </div>

                <div class="side-info">
                  <p><i class="far fa-snowflake"></i> <%= station_data[:snow][0] %> cm</p>
                  <p><i class="far fa-snowflake"></i> <%= station_data[:snow][1] %> cm</p>
                </div>

              </div>

              <div class="card-station-slopes">
                <p><i class="far fa-flag"></i> <%= ((station.green_open_slopes + station.blue_open_slopes + station.red_open_slopes + station.black_open_slopes).to_f / (station.green_slopes + station.blue_slopes + station.red_slopes + station.black_slopes) * 100 ).round(0) %> % de pistes ouvertes</p>
              </div>

              <div class="card-station-rating">
                <div class="circular-progress">
                  <div class="value-container">
                    <h2><strong><span id="RatingNum<%=i%>"><%= station_data[:global_rating] %></span>/5</strong></h2>
                  </div>
                </div>
              </div>

              <div class="rating-details">

                <div class="snowRating little-rating">
                  <h5><i class="fas fa-snowflake"></i><%= station_data[:snow_rating] %>/5</h5>
                </div>

                <div class="budgetRating little-rating">
                  <h5><i class="fas fa-euro-sign"></i><%= station_data[:budget_rating] %>/5</h5>
                </div>

                <div class="weatherRating little-rating">
                  <h5><i class="fas fa-cloud"></i><%= station_data[:weather_rating] %>/5</h5>
                </div>

                <div class="durationRating little-rating">
                  <h5><i class="fas fa-car"></i><%= station_data[:duration_rating] %>/5</h5>
                </div>

              </div>
            </div>

        <% end %>
      </div>
    <% end %>

  </div>

</div>

<%= render 'shared/footer' %>
