<%= render 'shared/navbar' %>

<div class="container">
  <%= render 'shared/indexform' %>
  <%= render 'shared/sortable' %>

  <div class="container-cards-stations">

    <% @stations_data.each do |station_data| %>
      <% station = station_data[:station]%>
      <div class="container-card-station">
        <%= link_to station_path(station, city: params[:city], start_date: params[:query][:start_date], end_date: params[:query][:end_date]) do %>
          <div class="card-debug">
            <div class="card-station">

              <div class="card-station-img">
                <img class="image-card-index" src="<%= station.cardphoto %>" alt="Photo de la station">
              </div>

              <div class="card-description">

                <div class="card-station-name">
                  <h3><strong><%= station.name%></strong></h3>
                </div>

                <div class="card-station-info">
                  <div class="card-station-factors">

                      <p><%=  time_conversion(station_data[:duration]) %> de trajet</p>

                      <p> Météo:
                        <%= humanize(station.conditions.last.date_on) %>
                        <%= station.conditions.first.weather  %>
                        <% if BIGRAIN.include? station.conditions.first.weather %>
                            <%= image_tag("bigrain.png", class: "picto-card") %>
                          <% elsif CLOUDS.include? station.conditions.first.weather %>
                            <%= image_tag("clouds.png", class: "picto-card") %>
                          <% elsif FOG.include? station.conditions.first.weather %>
                            <%= image_tag("fog.png", class: "picto-card") %>
                          <% elsif GRELE.include? station.conditions.first.weather %>
                            <%= image_tag("grele.png", class: "picto-card") %>
                          <% elsif LITTLERAIN.include? station.conditions.first.weather %>
                            <%= image_tag("littlerain.png", class: "picto-card") %>
                          <% elsif LITTLESNOW.include? station.conditions.first.weather %>
                            <%= image_tag("littlesnow.png", class: "picto-card") %>
                          <% elsif RAIN.include? station.conditions.first.weather %>
                            <%= image_tag("rain.png", class: "picto-card") %>
                          <% elsif SNOW.include? station.conditions.first.weather %>
                            <%= image_tag("snow.png", class: "picto-card") %>
                          <% elsif STORM.include? station.conditions.first.weather %>
                            <%= image_tag("storm.png", class: "picto-card") %>
                          <% elsif STORMRAIN.include? station.conditions.first.weather %>
                            <%= image_tag("stormrain.png", class: "picto-card") %>
                          <% elsif SUNCLOUD.include? station.conditions.first.weather %>
                            <%= image_tag("suncloud.png", class: "picto-card") %>
                          <% elsif SUNICO.include? station.conditions.first.weather %>
                            <%= image_tag("sunico.png", class: "picto-card") %>
                          <% else %>
                            <%= image_tag("wind.png") %>
                          <% end %>
                      </p>
                      <p>
                        Enneigement:
                        <%= station_data[:snow][0] %>cm
                        <%= station_data[:snow][1] %>cm
                      </p>

                      <% if station.budget == "€"%>
                        <p>Budget: <i class="fas fa-euro-sign"></i></p>
                      <% elsif station.budget == "€€"%>
                        <p>Budget: <i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                      <% else %>
                        <p>Budget: <i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                      <% end %>
                  </div>

                  <div class="card-station-slops">
                    <div class="Flag-total">
                      <p><%= ((station.green_open_slopes + station.blue_open_slopes + station.red_open_slopes + station.black_open_slopes).to_f / (station.green_slopes + station.blue_slopes + station.red_slopes + station.black_slopes) * 100 ).round(0) %> % de pistes ouvertes</p>
                    </div>
                    <div class="Flag-array">
                      <p class="d-flex" ><%= station.green_open_slopes %> / <%= station.green_slopes %>  <i class="fas fa-flag green"></i></p>
                      <p class="d-flex" ><%= station.blue_open_slopes %> / <%= station.blue_slopes %>  <i class="fas fa-flag blue"></i></p>
                      <p class="d-flex" ><%= station.red_open_slopes %> / <%= station.red_slopes %>  <i class="fas fa-flag red"></i></p>
                      <p class="d-flex" ><%= station.black_open_slopes %> / <%= station.black_slopes %>  <i class="fas fa-flag black"></i></p>
                    </div>

                  </div>

                </div>


              </div>

              <div class="rating-alanej">
                <h3><%= station_data[:global_rating] %> / 5</h3>
              </div>

            </div>
          </div>

        <% end %>
      </div>
    <% end %>

  </div>

</div>

<%= render 'shared/footer' %>
