<%= render 'shared/navbar' %>

<div class="container">

  <div class="research-priorities">

    <h2>Quelles sont vos priorités ?</h2>
    <%= render 'shared/sortable' %>

  </div>

  <div class="container-cards-stations">

    <% @stations.each do |station| %>
      <div class="container-card-station">
        <%= link_to station_path(station) do %>
          <div class="card-station">

            <div class="card-station-img">
              <img class="image-card-index" src="<%= station.cardphoto %>" alt="Photo de la station">
            </div>

            <div class="card-description">

              <div class="card-station-name">
                <h3><%= station.name%></h3>
              </div>

              <div class="card-station-info">
                <div class="card-station-factors">

                    <p>Temps de trajet:<%=  @TrajTemps[station.id] %></p>
                    <p>Météo: <%= @meteos[station.id] %></p>

                    <p>Enneigement:</p>
                    <p>Budget:</p>
                </div>

                <div class="card-station-slops">
                  <div class="Flag-total">
                    <p>Ouverture domaine skiable:</p>
                    <p><%= station.total_slopes%> pistes ouvertes / <%= station.total_slopes%></p>
                  </div>
                  <div class="Flag-array">
                    <p><i class="fas fa-flag green"></i>  <%= station.green_slopes %></p>
                    <p><i class="fas fa-flag blue"></i>  <%= station.blue_slopes %></p>
                    <p><i class="fas fa-flag red"></i>  <%= station.red_slopes %></p>
                    <p><i class="fas fa-flag black"></i>  <%= station.black_slopes %></p>
                  </div>

                </div>

              </div>


            </div>

            <div class="rating-alanej">
              <%= image_tag 'rating5.png' , :class => "img_rating" %>
            </div>

          </div>

        <% end %>
      </div>
    <% end %>

  </div>

</div>

<%= render 'shared/footer' %>
