<%= render 'shared/navbar' %>

<div class="container">
  <%= render 'shared/indexform' %>

  <div class="container-cards-stations">

    <% @stations_data.each do |station_data| %>
      <% station = station_data[:station]%>
      <div class="container-card-station">
        <%= link_to station_path(station, city: params[:city], start_date: params[:query][:start_date], end_date: params[:query][:end_date]) do %>

            <div class="card-station">

              <div class="card-station-img">
                <img class="image-card-index" src="<%= station.cardphoto %>" alt="Photo de la station">
                <h3 class="station-name"><strong><%= station.name %></strong></h3>
              </div>

              <div class="card-station-trip-weather-budget">

                <p class="trip"><i class="fas fa-car"></i>&nbsp;<%= time_conversion(station_data[:duration]) %></p>

                <p class="weather">
                  <% if BIGRAIN.include? station.conditions.first.weather %>
                    <%= image_tag("bigrain.png", class: "picto-card") %>
                  <% elsif CLOUDS.include? station.conditions.first.weather %>
                    <%= image_tag("clouds.png", class: "picto-card") %>
                  <% elsif FOG.include? station.conditions.first.weather %>
                    <%= image_tag("fog.png", class: "picto-card") %>
                  <% elsif GRELE.include? station.conditions.first.weather %>
                    <%= image_tag("grele.png", class: "picto-card") %>
                  <% elsif LITTLERAIN.include? station.conditions.first.weather %>
                    <%= image_tag("littlerain.png", class: "picto-card") %>
                  <% elsif LITTLESNOW.include? station.conditions.first.weather %>
                    <%= image_tag("littlesnow.png", class: "picto-card") %>
                  <% elsif RAIN.include? station.conditions.first.weather %>
                    <%= image_tag("rain.png", class: "picto-card") %>
                  <% elsif SNOW.include? station.conditions.first.weather %>
                    <%= image_tag("snow.png", class: "picto-card") %>
                  <% elsif STORM.include? station.conditions.first.weather %>
                    <%= image_tag("storm.png", class: "picto-card") %>
                  <% elsif STORMRAIN.include? station.conditions.first.weather %>
                    <%= image_tag("stormrain.png", class: "picto-card") %>
                  <% elsif SUNCLOUD.include? station.conditions.first.weather %>
                    <%= image_tag("suncloud.png", class: "picto-card") %>
                  <% elsif SUNICO.include? station.conditions.first.weather %>
                    <%= image_tag("sunico.png", class: "picto-card") %>
                  <% else %>
                    <%= image_tag("wind.png") %>
                  <% end %>
                </p>

                <% if station.budget == "1"%>
                  <p class="trip"><i class="fas fa-euro-sign"></i></p>
                <% elsif station.budget == "2"%>
                  <p class="trip"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% elsif station.budget == "3"%>
                  <p class="trip"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% elsif station.budget == "4"%>
                  <p class="trip"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% else %>
                  <p class="trip"><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i><i class="fas fa-euro-sign"></i></p>
                <% end %>
              </div>

              <div class="card-station-snow-alt">

                <div class="side-info">
                  <p class="left"><%= station.alt_max %> m</p>
                  <p class="left"><%= station.alt_min %> m</p>
                </div>

                <div class="montagne">
                  <%= image_tag("mountainiconefinal.png", height: '60', width: '72') %>
                </div>

                <div class="side-info">
                  <p><%= station_data[:snow][0] %> cm</p>
                  <p><%= station_data[:snow][1] %> cm</p>
                </div>

              </div>

              <div class="card-station-slopes">
                <p class="total-slopes"><i class="far fa-flag"></i> <%= ((station.green_open_slopes + station.blue_open_slopes + station.red_open_slopes + station.black_open_slopes).to_f / (station.green_slopes + station.blue_slopes + station.red_slopes + station.black_slopes) * 100 ).round(0) %> % de pistes ouvertes</p>
              </div>

              <div class="card-station-rating">
                <h2><%= station_data[:global_rating] %> / 5</h2>
              </div>
            </div>

        <% end %>
      </div>
    <% end %>

  </div>

</div>

<%= render 'shared/footer' %>
