<%= link_to root_path do%>
<%= image_tag("logo alanej horizontal blanc.png", class: "logo-high") %>
<% end %>
<img class="banner-show" src="<%= @station.bannerphoto %>" >

<div class="contain">
<h1 class= "station-name-show"> <strong><%= @station.name%></strong></h1>
  <div class="nav-btns">
    <div class="container container-btns">
      <a href="#container-weather-webcam" class="btn btn-anchor">Météo et Webcam</a>
      <a href="#container-trip" class="btn btn-anchor">Trajet</a>
      <a href="#container-station-plan" class="btn btn-anchor">La Station</a>
      <a href="#container-reviews" class="btn btn-anchor">Commentaires</a>
    </div>
  </div>


  <div class="container">

    <div id="container-weather-webcam" class="container-anchor">

      <div class="container-weather">

        <h2 class="category-title">Météo</h2>

        <div class="cards-meteo">

          <% @station.conditions.each do |condition| %>
            <% if @dates.include?(condition.date_on.to_date) %>

              <div class="card-meteo">
                <p><%= humanize(condition.date_on) %></p>
                <p><%= condition.weather %></p>
                <p>probabilité de gel <%= condition.frost_prob %>%</p>
                <p>probabilité de brouillard <%= condition.fog_prob %>%</p>
              </div>

            <% end %>
          <% end %>

        </div>

      </div>

      <div class="container-webcam">

        <h2 class="category-title">Webcam</h2>

        <div class="webcam">
          <a class="webcamView" name="windy-webcam-timelapse-player" data-id=<%=@station.webcamurl%> % data-play="day" href="https://windy.com/webcams/1462285756" target="_blank">Bouilly: Le Vercors</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
        </div>

      </div>

    </div>

    <div id="container-trip" class="container-anchor">
      <h2 class="category-title">Trajet</h2>

      <div class="container-map">
        <div id="map">

        </div>
      </div>

    </div>

    <div id="container-station-plan" class="container-anchor">

      <div class="container-plan">

        <h2 class="category-title">Domaine skiable</h2>

        <div class="slopes">
          <div class="total-slopes">
            <p><%= ((@station.green_open_slopes + @station.blue_open_slopes + @station.red_open_slopes + @station.black_open_slopes).to_f / (@station.green_slopes + @station.blue_slopes + @station.red_slopes + @station.black_slopes) * 100 ).round(0) %> % de pistes ouvertes</p>
          </div>
          <div class="slope-array">
            <p class="d-flex" ><%= @station.green_open_slopes %> / <%= @station.green_slopes %>  <i class="fas fa-flag green"></i></p>
            <p class="d-flex" ><%= @station.blue_open_slopes %> / <%= @station.blue_slopes %>  <i class="fas fa-flag blue"></i></p>
            <p class="d-flex" ><%= @station.red_open_slopes %> / <%= @station.red_slopes %>  <i class="fas fa-flag red"></i></p>
            <p class="d-flex" ><%= @station.black_open_slopes %> / <%= @station.black_slopes %>  <i class="fas fa-flag black"></i></p>
          </div>
        </div>

        <div class="plan-slop">
          <img class="plan-slop-img" src="<%=@station.planurl%>" >
        </div>
      </div>

      <div class="container-station">

        <h2 class="category-title">La Station</h2>
        <p class="address"><%= @station.address %></p>
        <p><%= @station.description%></p>

      </div>
    </div>

    <div id="container-reviews" class="container-anchor">

      <div class="title-reviews">
        <h2 class="category-title">Commentaires </h2>
        <h5 id="average-rating">
          <i id= "star-average" class=" fas fa-star "></i>
          <%= @average_rating %>
          <span id="number-coms">(<%= @reviews.count %> commentaires)</span>
        </h5>

      </div>

      <div class="reviews-container">

        <div class="reviews">

          <% @reviews.each do |review| %>
            <div class="review">
              <p><%= review.visitor_pseudo %></p>
              <p>
                <% Review::AUTHORIZED_RATINGS.each do |number| %>
                  <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
                <% end %>
              </p>
            </div>
          <% end %>

        </div>

        <div class="form-review">
          <h3>Laissez un commentaire</h3>
          <%= simple_form_for [@station, @review] do |f| %>
            <%= f.input :visitor_pseudo, label: "Votre pseudo" %>
            <%= f.input :rating, as: :hidden  %>
            <div class="my-3">
              <% Review::AUTHORIZED_RATINGS.each do |index| %>
                <i id="<%= index %>" class="review-rating far fa-star"></i>
              <% end %>
            </div>
            <%= f.submit class: "btn", value: "Valider" %>
          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>

<%= render 'shared/footer' %>
