

<h1><%= @station.name%></h1>
 <%# <img src="<%= @station.banner %>
  <a href="#container-station"></a>
  <a href="#container-condition"></a>
  <a href="#container-trip"></a>
  <a href="#container-field"></a>
  <a href="#container-extras"></a>
  <a href="#container-reviews"></a>

<div id="container-station" >
  <p><%= @station.address %></p>
  <p><%= @station.description%></p>


  <p>review user</p>
   <% sum = 0 %>
  <% if @station.reviews.count.positive? %>
    <% @station.reviews.each do |review|%>
      <% sum += review.vibes_rating %>
      <% sum += review.ski_rating  %>
      <% sum += review.value_rating  %>
    <% end %>
    <%= result = (sum.to_f / (@station.reviews.count * 3)).round(2) %>
  <% end %>
</div>

<div id="container-condition">
</div>

<div id="container-trip">
</div>

<div id="container-field">
</div>

<div id="container-extras">
</div>

<div id="container-reviews">

  <div class="form-review">
    <%= simple_form_for [@station, @review] do |f| %>
      <%= f.input :visitor_pseudo %>
      <%= f.input :vibes_rating, input_html: { min: 1, max: 5} %>
      <%= f.input :ski_rating, input_html: { min: 1, max: 5} %>
      <%= f.input :value_rating, input_html: { min: 1, max: 5} %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <div class="reviews-display">
  </div>

</div>
