<%= render 'shared/navbar' %>

<% sum = 0 %>
<% if @station.reviews.count.positive? %>
  <% @station.reviews.each do |review|%>
    <% sum += review.vibes_rating %>
    <% sum += review.ski_rating  %>
    <% sum += review.value_rating  %>
  <% end %>
<% end %>


<h1><%= @station.name%></h1>
<%# <img src="<%= @station.bannerphoto %>



<div class="container">

  <div class="nav-btns">
    <a href="#container-station" class="btn btn-anchor">La Station</a>
    <a href="#container-condition" class="btn btn-anchor">Météo et enneigement</a>
    <a href="#container-trip" class="btn btn-anchor">Trajet</a>
    <a href="#container-ski-area" class="btn btn-anchor">Domaine skiable</a>
    <a href="#container-extras" class="btn btn-anchor">Extras</a>
    <a href="#container-reviews" class="btn btn-anchor">Reviews</a>
  </div>

  <div id="container-station" class="container-anchor">
    <h2>La Station</h2>
    <p><%= @station.address %></p>
    <p><%= @station.description%></p>
  </div>



  <div id="container-condition" class="container-anchor">
    <h2>Météo et enneigement</h2>
  </div>


  <div id="container-trip" class="container-anchor">
    <h2>Trajet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vero repellendus consequuntur nisi molestiae adipisci est, incidunt possimus voluptatibus cum laboriosam. Eius cumque alias cum iste voluptatibus veritatis dolorum pariatur.</p>
  </div>


  <div id="container-ski-area" class="container-anchor">
    <h2>Domaine skiable</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vero repellendus consequuntur nisi molestiae adipisci est, incidunt possimus voluptatibus cum laboriosam. Eius cumque alias cum iste voluptatibus veritatis dolorum pariatur.</p>
  </div>


  <div id="container-extras" class="container-anchor">
    <h2>Les Extras</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vero repellendus consequuntur nisi molestiae adipisci est, incidunt possimus voluptatibus cum laboriosam. Eius cumque alias cum iste voluptatibus veritatis dolorum pariatur.</p>
  </div>



  <div id="container-reviews" class="container-anchor">
    <h2>reviews</h2>
    <%# <%= (sum.to_f / ( @station.reviews.count * 3 )).round(2) %>
    <div class="reviews-container">

      <div class="reviews">

        <% @station.reviews.each do |review| %>
          <div class="review">
            <div class="d-flex">
              <p><%= review.visitor_pseudo %> <%= (review.value_rating + review.ski_rating + review.value_rating) / 3%> stars</p>
            </div>
            <p><%= review.vibes_rating %> stars</p>
            <p><%= review.ski_rating %> stars</p>
            <p><%= review.value_rating %> stars</p>
          </div>
        <% end %>

      </div>


      <div class="form-review">

        <%= simple_form_for [@station, @review] do |f| %>
          <%= f.input :visitor_pseudo %>
          <%= f.input :vibes_rating, input_html: { min: 1, max: 5} %>
          <%= f.input :ski_rating, input_html: { min: 1, max: 5} %>
          <%= f.input :value_rating, input_html: { min: 1, max: 5} %>
          <%= f.button :submit %>
        <% end %>

      </div>

    </div>

  </div>

</div>

<%= render 'shared/footer' %>
