<div class="blocker"></div>
<div class='load-container'><h2 class="load-text">L'algo tabasse de la donnée...</h2></div>
<div class="home-container" >
  <%= image_tag("https://res.cloudinary.com/robintrllt/image/upload/v1637666260/logo_alanej_horizontal_wbmtr9.png",
      id:"home-logo") %>

  <%= simple_form_for :query, method: :get,
                              url: stations_path,
                              defaults: { wrapper_html: { class: "mr-3" },required: false },
                              html: { class: 'd-flex my-2' } do |f| %>
    <%= f.input :city,  label:       false,
                        placeholder: "D'où partez-vous ?",
                        input_html:  { name: :city, value: params.dig(:city) } %>
    <div class="dates">
      <%= f.input :start_date,  as: :string, label: false,
                          required: false,
                          input_html:    { id: "range_start", placeholder:"Date de départ"} %>

      <%= f.input :end_date,  as: :string, label: false,
                          required: false,
                          input_html:    { id: "range_end", placeholder:"Date de retour" } %>
    </div>

    <%= f.submit "Go à la neige !", class: "btn btn-go" ,id:'goAnim'%>
  <% end %>
</div>

<div class="time-container">
  <i class="fas fa-cloud-sun fa-flip-horizontal" id="sunrise-ico"></i>
  <i class="fas fa-sun" id="sun-ico"></i>
  <i class="fas fa-cloud-sun" id="sunset-ico"></i>
  <i class="fas fa-moon" id="night-ico"></i>
</div>

<canvas id="bg"></canvas>
