<!DOCTYPE html>
<html>
  <head>
    <title>Alanej</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="favicon.ico" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,400;1,700&family=Paytone+One&family=Poller+One&display=swap" rel="stylesheet">
  </head>


  <body>

    <%= yield %>

  </body>
</html>
